.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    
    .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 28%;
        padding: 2rem 1rem;
        .form-control{
            input{
                height: 2rem;
                width: 100%;
                border: 1px solid #81afda;
                border-radius: 0.4rem;
                padding-left: 1rem;
                margin-left: auto;
                display: block;
            }
        }
        .sord-btn{
            button{
                display: block;
                height: 2rem;
                width: 5rem;
                border-radius: 0.5rem;
                color: #375264;
                text-align: center;
                box-shadow: -9px -8px 23px 0px white, 8px 1px 10px 0px grey;
                &:hover{
                    background-color: #c4d7dc;
                    transition: background-color 0.5s ease;
                }
                &:active{
                    background-color: #c49bfa;
                    transition: background-color 0.5s ease;
                }
            }
        }
    }
}



.board-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .board-item{
        display: flex;
        flex-direction: column;
        width: 20%;
        
        .block-title{
            text-transform: uppercase;
            text-align: center;
            margin: 2rem 0;
            color: #5a5d61;
        }

        .block{
            display: flex;
            flex-direction: column;
            gap: 13px;
            background-color: #ebf1fa;
            color: #8c9094;
            border-radius: 1rem;
            padding: 1rem;
            border-color: #fff;
            box-shadow: -9px -8px 23px 0px white, 8px 1px 10px 0px grey;

            .add-task-btn{
                display: block;
                height: 3rem;
                background: #d1e0ee;
                
                &:hover{
                    background: #8a9095;
                    transition: background 0.5s ease;
                }
            }

            .task{
                background:#dfe7ee;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 5rem;
                padding: 0 1rem;
                cursor: pointer;
    
                .task-btns{
                    display: flex;
                    flex-direction: row;                
                }
            }
        }
    }
}

.form-group{
    input{
        height: 2rem;
        width: 100%;
        border: 1px solid #81afda;
        border-radius: 0.4rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
    }
}

.modal-btn{
    display: block;
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    background: #d1e0ee;
}
select{
    width: 100%;
    height: 1.7rem;
    border: 1px solid #81afda;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}