
    <div class="wrapper">
        <h1> {{ title | uppercase }}</h1>
        <div class="content">
            <div class="form-control">
                <input type="text" placeholder="search task" [(ngModel)]="searchStr">
            </div>
            <div class="sord-btn">
                <button type="button" class="btn" (click)="sortBy('asc')">ASC</button>
            </div>
            <div class="sord-btn">
                <button type="button" class="btn" (click)="sortBy('desc')">DESC</button>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="loader"></div>
<div class="board-container" *ngIf="!loading" >
    <div class="board-item">
        <h3 class="block-title">todo</h3>
        <div class="block">
            <button 
            class="add-task-btn btn"
            (click)="modalService.open()"
            >+</button>
            <div class="tasks-wrapper" *ngIf="taskService.tasks">
                <div class="task"
                *ngFor="let task of taskService.tasks | sortBy:sortByValue| searchTaskPipe:searchStr | statusPipe:'todo'"  >
                    <h3 class="task-title">{{ task.name }}</h3>  
                    <div class="task-btns">
                        <button class="edit-btn btn">&#9998;</button>
                        <a class="btn-board" (click)="remove(task.id)">&#10006;</a>
                        <button class="archive-btn btn">&#9972;</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="board-item">
        <h3 class="block-title">in progress</h3>
        <div class="block">
            <button 
            class="add-task-btn btn"
            (click)="modalService.open()"
            >+</button>
            <div class="tasks-wrapper" *ngIf="taskService.tasks">
                <div class="task"
                *ngFor="let task of taskService.tasks | sortBy:sortByValue| searchTaskPipe:searchStr | statusPipe:'in progress'">
                    <h3 class="task-title">{{ task.name }}</h3>  
                    <div class="task-btns">
                        <button class="edit-btn btn">&#9998;</button>
                        <a class="btn-board" (click)="remove(task.id)">&#10006;</a>
                        <button class="archive-btn btn">&#9972;</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="board-item">
        <h3 class="block-title">done</h3>
        <div class="block">
            <button 
            class="add-task-btn btn"
            (click)="modalService.open()"
            >+</button>
            <div class="tasks-wrapper" *ngIf="taskService.tasks">
                <div class="task"
                *ngFor="let task of taskService.tasks | sortBy:sortByValue| searchTaskPipe:searchStr | statusPipe:'done' ">
                    <h3 class="task-title">{{ task.name }}</h3>  
                    <div class="task-btns">
                        <button class="edit-btn btn">&#9998;</button>
                        <a class="btn-board" (click)="remove(task.id)">&#10006;</a>
                        <button class="archive-btn btn">&#9972;</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-board 
*ngIf="modalService.isVisiBle$ | async">
    <form #editForm="ngForm"
    (ngSubmit)="submit(editForm)">
        <div class="form-group">
            <label for="name">Task name</label>
            <input 
            #name="ngModel"
            type="text" 
            name = "name"
            class="form-controll"
            placeholder="task name"
            ngModel
            required
            minlength="2"
            >
        </div>
        <small
        class="alert"
        *ngIf="name.invalid && name.touched"
        >Please fill title field width min length. Now {{ name.value.length }}
        </small>
        <div class="form-group">
            <select name="select" ngModel>
            <option *ngFor="let status of statuses">{{ status }} </option>
            </select>
        </div>

        <button
        type="submit"
        class="btn modal-btn"
        [disabled]="name.invalid"
        >Create task</button>
    </form>
</app-modal-board>