
    <div class="wrapper">
        <h1> {{ title | uppercase }}</h1>
        <div class="content">
            <div class="form-control">
                <input type="text" placeholder="search task" [(ngModel)]="searchStr">
            </div>
            <div class="sord-btn">
                <button type="button" class="btn"  (click)="sortBy('asc')">ASC</button>
            </div>
            <div class="sord-btn">
                <button type="button" class="btn" (click)="sortBy('desc')">DESC</button>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="loader"></div>
<div class="board-container" *ngIf="!loading" >
    <div class="board-item">
        <h3 class="block-title">{{statuses[0]}}</h3>
        <div class="block">
            <button 
            class="add-task-btn btn"
            (click)="modalService.open(); getStatus(0)"
            >+</button>
            <div class="tasks-wrapper" *ngIf="taskService.tasks"
            (drop)="drop($event)" 
            (dragover)="allowDrop($event)">
                <div class="task"
                *ngFor="let task of taskService.tasks | statusPipe:statuses[0] | searchTaskPipe:searchStr |  sortBy:sortByValue " 
                draggable="true" 
                (dragstart)="drag($event)" 
                id="drag1">
                <h3 class="{{ (task.isArchived) ? 'done' : '' }}">{{ task.name }}</h3>  
                    <div class="task-btns">
                        <button class="edit-btn btn">&#9998;</button>
                        <a class="btn-board" (click)="remove(task.id)">&#10006;</a>
                        <button class="archive-btn btn" (click)="done(task.id)" >🗃️</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="board-item">
        <h3 class="block-title">{{statuses[1]}}</h3>
        <div class="block">
            <button 
            class="add-task-btn btn"
            (click)="modalService.open(); getStatus(1)"
            >+</button>
            <div class="tasks-wrapper" *ngIf="taskService.tasks" 
            (drop)="drop($event)" 
            (dragover)="allowDrop($event)"
            >
                <div class="task"
                *ngFor="let task of taskService.tasks | statusPipe:statuses[1]| searchTaskPipe:searchStr | sortBy:sortByValue"
                draggable="true" 
                (dragstart)="drag($event)" 
                id="drag1"
                >
                    <h3 class="{{ (task.isArchived) ? 'done' : '' }}">{{ task.name }}</h3>  
                    <div class="task-btns">
                        <button class="edit-btn btn">&#9998;</button>
                        <a class="btn-board" (click)="remove(task.id)">&#10006;</a>
                        <button class="archive-btn btn" (click)="done(task.id)" >🗃️</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="board-item">
        <h3 class="block-title">{{statuses[2]}}</h3>
        <div class="block">
            <button 
            class="add-task-btn btn"
            (click)="modalService.open(); getStatus(2)"
            >+</button>
            <div class="tasks-wrapper" *ngIf="taskService.tasks"
            (drop)="drop($event)" 
            (dragover)="allowDrop($event)"
            >
                <div class="task"
                *ngFor="let task of taskService.tasks | statusPipe:statuses[2] | searchTaskPipe:searchStr |  sortBy:sortByValue"
                draggable="true" 
                (dragstart)="drag($event)" 
                id="drag1"
                >
                <h3 class="{{ (task.isArchived) ? 'done' : '' }}">{{ task.name }}</h3>  
                    <div class="task-btns">
                        <button class="edit-btn btn" >&#9998;</button>
                        <a class="btn-board" (click)="remove(task.id)">&#10006;</a>
                        <button class="archive-btn btn" (click)="done(task.id)" >🗃️</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-board title="create task"
*ngIf="modalService.isVisiBle$ | async">
    <form #createTaskForm="ngForm"
    (ngSubmit)="submit(createTaskForm)">
        <div class="form-group">
            <label for="name">Task name:</label>
            <input  #name="ngModel" type="text" name = "name" class="form-controll" placeholder="enter task name" ngModel required minlength="2" appFocus
            >
        </div>
        <small
            class="alert"
            *ngIf="name.invalid && name.touched"
            >Please fill title field width min length. Now {{ name.value.length }}
        </small>
        <button
        type="submit"
        class="btn modal-btn"
        [disabled]="name.invalid"
        >Create task</button>
    </form>
</app-modal-board>