<p>login-page works!</p>
<form class="form">
    <h2>Log in</h2>
    <div class="form-control">
        <label for="email">Email</label>
        <input type="email">
    </div>
    <div class="validation">
        <small> error </small>
    </div>


    <div class="form-control">
        <label for="password">Password</label>
        <input type="password">
    </div>
    <div class="validation">
        <small> error </small>
    </div>

    <button 
    type="submit"
    class="btn form-btn"
    > Log in</button>
</form>