<form [formGroup]="form"
(ngSubmit)="submit()">
    <div class="form-control">
        <label for="title"></label>
        <input 
        id="title" 
        type="text" 
        formControlName="title" 
        placeholder="board name"
        >
    </div>
    <small
    class="error"
    *ngIf="title.errors?.minlength && title.touched"
    >Please fill title field width min length. Now {{ title.value.length }}
    </small>
    <button
    type="submit"
    class="btn modal-btn"

    >Create board</button>
<!-- 
    <button
    type="submit"
    class="btn modal-btn"
    [disabled]="form.invalid"
    >Create board</button> -->
</form>