<div class="form-control">
    <input type="text" placeholder="filter board" [(ngModel)]="searchStr">
</div>
<div class="dash">
    <div class="add-dashboard">
        <button 
        class="btn btn-dashboard"
        (click)="addOption(); modalService.open()">+</button>
    </div>
    <div class="dashboard"  *ngIf="boards?.length" else preloading>
        <div 
        class="card"
        *ngFor="let board of boards | searchPipe:searchStr"
        >
            <div 
            class="card-header" 
            [routerLink]="['/admin','board', board.id]" 
            >
                <h2>{{ board.title }}</h2>   
                <p>{{ board.description}}</p>
                <small>{{ board.date | date:'medium'}}</small>
            </div>
            <div>
                <small> {{ board.author}} </small>
            </div>
            <!-- <a class="btn-board btn-edit" 
            (click)="edit(board.id); modalService.open(); "
            >&#x2710;</a> -->
            <a class="btn-board btn-edit" 
            [routerLink]="['/admin','board',board.id, 'edit']"
            >&#x2710;</a>

            <a class="btn-board"
            (click)="remove(board.id)">&#10006;</a>
        </div>
    </div>
    <app-modal-board 
    title="board"
    *ngIf="modalService.isVisiBle$ | async"
    [ngSwitch]="action">
        <app-create-board 
        *ngSwitchCase="'create'"

        ></app-create-board>
        <app-edit-board *ngSwitchCase="'edit'"></app-edit-board>
    </app-modal-board>
</div>

<ng-template #preloading >
    <div class="loader">Loading...</div>
</ng-template>