<div class="form-control">
    <input type="text" placeholder="filter board" [(ngModel)]="searchStr">
</div>
<div *ngIf="loading" class="loader"></div>
<div class="dash" *ngIf="!loading">
    <div class="add-dashboard" >
        <button 
        class="btn btn-dashboard"
        (click)="modalService.open()">+</button>
    </div>
    <div *ngIf="loading" class="loader"></div>


    <div class="dashboard"  *ngIf="boardService.boards">
        <div 
        class="card"
        *ngFor="let board of boardService.boards | searchPipe:searchStr"
        >
            <div 
            class="card-header" 
            [routerLink]="['/admin','board', board.id]" 
            >
                <h2>{{ board.title }}</h2>   
                <p>{{ board.description}}</p>
                <small>{{ board.date | date:'medium'}}</small>
            </div>
            <div>
                <small> {{ board.author}} </small>
            </div>

            <a class="btn-board btn-edit" 
            [routerLink]="['/admin','board',board.id, 'edit']"
            >&#x2710;</a>

            <a class="btn-board"
            (click)="remove(board.id)">&#10006;</a>
        </div>
    </div>
    <app-modal-board 
    title="create board"
    *ngIf="modalService.isVisiBle$ | async"
    >
        <app-create-board></app-create-board>
    </app-modal-board>
</div>

