input{
  margin-left: auto;
  display: block;
  height: 40px;
  width: 20%;
  border: 1px solid #81afda;
  border-radius: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  background:inherit;
  box-shadow: -9px -8px 23px 0px white, 8px 1px 10px 0px grey;
 margin-bottom: 2rem;
    margin-top: 2rem;
}

.dash{
  .add-dashboard{
    align-items: center;
    display: flex;
    
    .btn-dashboard{
        font-size: 6rem;
        width: 40%;
        margin: 0 auto;
        color: #8c9094;
        border-radius: 1rem;
        box-shadow: -9px -8px 23px 0px white, 8px 1px 10px 0px grey;  
        &:hover{
            background-color: #c4d7dc;
            transition: background-color 0.5s ease;
        }
        &:active{
            background-color: #c49bfa;
            transition: background-color 0.5s ease;
        } 
    }
}

}



.dashboard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    max-width: 1200px;
    margin: 0 auto;
    height: 800px;
    padding-top: 5rem;

    .card{
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 20rem;
        background-color: #ebf1fa;
        color: #8c9094;
        border-radius: 1rem;
        justify-content: space-between;
        padding: 1rem;
        border-color: #fff;
        // box-shadow: 0 0 10px rgb(0 0 0 / 50%);
        box-shadow: -9px -8px 23px 0px white, 8px 1px 10px 0px grey;
        &:hover{
            background-color: #c4d7dc;
            transition: background-color 0.5s ease;
            transform: scale(1.05);
            transition: transform 0.5s ease;
        }
        &:active{
            background-color: #c49bfa;
            transition: background-color 0.5s ease;
        }
        .card-header{
          cursor: pointer;
        }
        .btn-board{    
            color: rgb(165 192 218 / 53%);
            display: block;
            margin-left: auto;
            font-size: 2.5rem;
            cursor: pointer;

            &:hover{
                color: #5f656b;
                transform: scale(1.5); 
                transition: color 0.5s ease;
                transition: transform 0.5s ease;
            }
        }
    }
}


// LOADER

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  