<div class="dashboard">
    <app-board-item></app-board-item>
    <app-board-item></app-board-item>
    <app-board-item></app-board-item>
    <app-board-item></app-board-item>
    <app-board-item></app-board-item>
    <app-board-item></app-board-item>
    <!-- <app-board-item></app-board-item> -->
    <!-- <app-board-item></app-board-item>
    <app-board-item></app-board-item>
    <app-board-item></app-board-item>
    <app-board-item></app-board-item>
    <app-board-item></app-board-item> -->
</div>