<header class="header">
    <h1>Angular Admin</h1>
    <nav>
        <ul class="nav">
            <li routerLinkActive="active">
                <a [routerLink]="['/admin','dashboard']">Home-Admin</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/admin','board','145']">Some board</a>
            </li>
            <li><a href="#" (click)="logout($event)">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>