<header class="header">
    <h1>Angular Admin</h1>
    <nav>
        <ul 
        *ngIf="auth.isAuthentificated()"
        class="nav">
            <li >
                <a routerLinkActive="active" [routerLink]="['/admin','dashboard']">Home-Admin</a>
            </li>
            <li >
                <a routerLinkActive="active" [routerLink]="['/admin','board','145']">Some board</a>
            </li>
            <li><a href="#" (click)="logout($event)">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>

<app-alert></app-alert>